.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #5a00dd;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: white;
}
.sidebar img {
    width: 100%;
    height: 100px;
}
.sidebar a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: rgb(93, 85, 138);
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
